$body-bg: #eef0f8;
$body-color: #3f4254;


$font-family-base: 'Poppins', sans-serif;

$dropdown-border-width: 0;
$dropdown-color: #7e8299;
$dropdown-font-size: .85rem;

$dropdown-link-hover-bg: #f3f6f9;
$dropdown-link-hover-color: #3699ff;
$dropdown-border-radius: .42rem;
$dropdown-padding-x: .75rem;

$dropdown-item-padding-y: .5rem;
$dropdown-item-padding-x: 1rem;

$nav-canvas-height: 56px;

$nav-link-font-size: .85rem;
$nav-link-font-weight: 400;
$nav-link-color: $body-color;

$nav-icon-width: 21px;
$nav-icon-height: 21px;

$table-th-font-weight: 600;

$table-color: $body-color;

$table-border-color: #ebedf3;
$table-group-separator-color: $table-border-color;

$table-cell-padding-y: .5rem;
$table-cell-padding-x: .5rem;

$primary: #0d6efd;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;

$btn-font-size: .85rem;
